  html, body {
                
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 40vh;
            }

            .flex-center {

                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 50px;
            }

            .content {
                text-align: center;
            }

            .titled {
                font-size: 84px;
                font-weight: 600;
                text-align: center;
               
            }
            .links {

            }

            .links > a {
                float: right;
                align-items: top;
                margin-top: 20px;
                color: #636b6f;
                padding: 0 25px;
                font-size: 15px;
                font-weight: 800;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }
            .links:hover {
                font-weight: bold;
            }


            .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;
            }

        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.1);
        }



 .homebkg {
    width: 50%; 
    margin-top: 25px;   
    margin-left:auto;
   margin-right:auto;
    padding: 11px 6% 30px 6%;
    background: rgba(255,255,255,0.8);;
    border: 1px solid orange;
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
       -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
            box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
 }       

.recentTitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}


.mealInput {
    width: 35%;
    font-size: 20px;
}
